@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
  font-family: "pixelify" ;
  src: url(./assets/fonts/PixelifySans-VariableFont_wght.woff);
}

@font-face {
  font-family: "silkscreen" ;
  src: url(./assets/fonts/Silkscreen-Regular.woff);
}

@font-face {
  font-family: "silkscreen" ;
  src: url(./assets/fonts/Silkscreen-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: "VT323" ;
  src: url(./assets/fonts/VT323-Regular.woff);
}

html {
  margin: 0;
}

nav {
  background: #1f1f4b;
  color: whitesmoke;
  animation: blur-and-invert linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 900px;
}

@keyframes blur-and-invert {
  to {
    background: rgba(211, 143, 234, 0.5);
    backdrop-filter: blur(5px);
  }
}